* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5ram;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: #242635;
}

.nav__list {
  width: 25%;
  max-width: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list--item {
  list-style: none;
}

.nav__list--link {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4;
  color: #242635;
}

.nav__list--link:hover {
  color: #d29905;
}

.nav .icon {
  display: none;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.main__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.2;
  letter-spacing: -2px;
  text-align: center;
  color: #242635;
  margin: 0 auto;
}

.main__subtitle {
  width: 66%;
  margin: 2em auto;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: #242635;
}

.main__img {
  width: 100%;
  margin-top: .6em;
  height: auto;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .nav__list a {
    display: none;
  }
  .nav .icon {
    display: block;
    color: #242635;
  }
  .nav .icon:hover {
    color: #d29905;
  }
  .main__title {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .nav__list.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__list.reponsive a {
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=index.css.map */